@media(max-width:1300px){
    .container {
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media(max-width:1250px){
    .container {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media(max-width:1100px){
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media(max-width:1000px){
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width:900px){
    .home-zizurs {
        font-size: 40px;
        padding: 25px 10px;
        transform: none;
    }
    .img-text {
        font-size: 20px;
    }

    .three-left {
        width: 100%;
    }
}
@media(max-width:850px){
    .home {
        padding-top: 0;
    }
    .home-zizurs {
        display: none;
    }
    .home-links {
        margin: 10px auto;
    }
    .img-text {
        margin: auto;
        padding-right: 20px;
        text-align: center;
    }
    .img-div {
        margin: 30px 0;
        text-align: center;
    }
    .four-img-width {
        margin: auto;
        width: 45%;
    }
    .four-img-text {
        margin-bottom: 10px;
    }
    .three {
        display: block;
        margin: auto;
    }
    .three-right-top {
        margin-top: 30px;
        width: 100%;
        margin: 20px auto;
    }
    .three-right-bottom {
        width: 100%;
        margin: 10px auto;
    }
}
@media(max-width:800px){
    .hairstyle-img-flex {
        width: 30%;
    }
    .news-left {
        width: 100%;
    }
    .news-right {
        width: 100%;
    }
    .tt {
        text-align: center;
        margin-bottom: 10px;
    }
    .news {
        margin-top: 0;
    }
}
@media(max-width:700px){
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-div {
        margin: 10px 0;
    }
    .img-text {
        font-size: 18px;
        padding-right: 5px;
    }
    .contact {
        margin-bottom: 150px;
    }
}
@media(max-width:600px){
    .home-links {
        text-align: center;
    }
    .home-link {
        margin-bottom: 5px;
    }
    .img-text {
        font-size: 14px;
    }
    .four-img-width {
        width: 90%;
        text-align: center;
    }
    .four-img {
        margin: auto;
    }
    .four-img-one {
        border: 5px solid rgba(35, 127, 233, 0.685);
        position: absolute;
    }
    .four-img-two {
        position: relative;
    }
    .ww {
        display: none;
    }
    .footer-flex {
        text-align: center;
    }
    .footer-flex-text {
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-flex-links {
        width: 100%;
        text-align: center;
    }
    .hairstyle-img-flex {
        width: 45%;
    }
    .news-left, .news-right {
        text-align: center;
    }
    .nn {
        padding-right: 0;
    }
}
@media(max-width:400px){
    .three-right-top-text {
        line-height: normal;
    }
    .three-right-bottom-text {
        font-size: 15px;
        line-height: normal;
    }
}
@media(max-width:350px){
    .three-right-bottom-text {
        display: none;
    }
}
@media(max-width:280px){
    .three-right-top-text {
        font-size: 12px;
        text-align: center;
    }
    .fff, .girl-img-header {
        display: none;
    }
}